/* ================================================================================= */
/* =======================================the all=================================== */
/* ================================================================================= */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    opacity: 0.5;
    transition: 0.1s;
}

html {
    background: url(imgsAndIcons/top-back2.svg) no-repeat;
    background-size: 120%;
    background-position: -286px 0px;
}

.mobile{
    display: none;
}

/* ================================================================================= */
/* =========================================ثوابت================================== */
/* ================================================================================= */
.pinkText{
    color: #E35577;
}

.hoverGrayerWighter:hover{
    opacity: 0.5;
}

/* ================================================================================= */
/* =======================================the body================================== */
/* ================================================================================= */


body::before {
    opacity: 50%;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background: url(imgsAndIcons/top-back.svg);
    z-index: -1;
    background-size: 124%;
}


/* ================================================================================= */
/* =========================================header==================================== */
/* ================================================================================= */
header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content:space-around;

    box-shadow: 00 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

}

header .leftHeaderLogo{
    height: 100%;
    display: flex;
    align-items:center;
}

header .rightHeaderLinks{
    height: 100%;
    display: flex;
    align-items:center;
}

header .rightHeaderLinks .headerLinks {
    display: flex;
    align-items: center;
    margin-right: 47px;
}

header .rightHeaderLinks .headerIcons{
    display: flex;
    align-items: center;
}

header .rightHeaderLinks ul li{
    list-style-type:none;
}

header .rightHeaderLinks ul li a {
    font-size: 14px;
    font-weight: bold;
    margin-right: 17px;
}

header .rightHeaderLinks ul li a img{
    margin-right: 10px;
}

/* ================================================================================= */
/* =========================================main==================================== */
/* ================================================================================= */
main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

/* ================================================================================= */
/* =======================================top-hero================================== */
/* ================================================================================= */
main .top-hero {
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-left: 50px;
    justify-content: space-evenly;
}

main .top-hero .top-hero2{
    display: flex;
    align-items: center;

}

main .heroImg {
    margin-bottom: -287px;
}

/* ================================================================================= */
/* =======================================midHome=================================== */
/* ================================================================================= */
.midHome {
    display: flex;
    justify-content: space-around;
}

.midHome2{
    display: flex;
}

.News{
    margin-right: 40px;
}

.News, .Check {
    background-color: white;
    height: 437px;
    padding-top: 10px;
    width: 504px;
    box-shadow: 00 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.News h2 {
    color: #e05476;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.News a {
    color: #515151;
    font-size: 13px;
    margin: 35px;
}

.Check {
    display: flex;
    flex-direction: column;
}

.Check h2{
    color: #e05476;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Check .A {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Check .A img {
    display: block;
    outline: 3px solid #FFE2E9;
    outline-offset: -3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 90px;
}

.Check .A img:hover{
    opacity: 1;
    outline: 6px solid #f08fa5;

}


/* ================================================================================= */
/* ========================================goods==================================== */
/* ================================================================================= */
.goods {
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    align-items: center;
}

.goods img {
    width: 1000px;
    box-shadow: 00 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ================================================================================= */
/* =====================================footer====================================== */
/* ================================================================================= */
footer {
    color: white;
    width: 100%;
    background: #E35577;
    margin-top: 50px;
    padding: 65px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footerTop{
    margin-bottom: 30px;
}

footer .footerMid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



footer .footerMid {
    gap: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.linkBlockA {
    margin-bottom: 20px;
    display: flex;
}

.linkBlock a {
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.linkBlock a span {
    font-size: 14px;
    font-weight: 600;
}

.footerMidMid {
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 0px 60px;
}




footer .footerBottom {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footerBottom img{
    margin-bottom: 40px;
}